/* App */

#app {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  height: 100vh;
  background-color: rgb(194, 194, 194);
}
.content-area{
  height: 100vh;
}
.component-body{
  padding: 12px;
}

.current-period {
  background-color: rgb(194, 194, 233);
}

#dimension-filter {
  padding: 12px;
}
/* TimeFilter */
.component-boundary {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgb(117, 116, 116);
  border-radius: 10px;
}
