/* App */
#app {
  border: 2px solid blue;
  height: auto;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 20vh 50vh 30vh;
  grid-template-areas: 
    "empty time empty1"
    "dimension results engine"
    "dimension monitor empty3";
}

#time-filter {
  grid-area: time;
}

#dimension-filter {
  grid-area: dimension
}

#query-engine {
  grid-area: engine;
}

#query-monitor {
  grid-area: monitor;
}

#results-grid {
  grid-area: results;
}


/* TimeFilter */
.component-boundary {
  border: 2px solid black;
  background-color: rgb(83, 168, 168);
}